<h2>Enter the name of your survey:</h2>

<form action="/survey_post" method="post">
  <label for="survey_title">Survey name:</label>
  <input id="survey_title" name="survey_title" type="text" placeholder='My Survey'>
  <button type="submit" class="btn btn-primary">Create Survey</button>
</form>

<% if !@all_surveys.any? %>
  <h4>Your surveys will appear here</h4>
<% else %>
  <h4>Surveys already created:</h4>
  <ul>
    <% @all_surveys.each() do |survey| %>
      <li>Survey "<%= survey.title() %>"  <a href="/survey/<%= survey.id() %>">edit</a>  <a href="/survey/<%= survey.id() %>/start">take</a></li>
    <% end %>
  </ul>
<% end %>

<form action="/delete_everything" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">DELETE EVERYTHING FROM DATABASE</button>
</form>
